.content{
    box-sizing: border-box;
width: 100%;
height: 100%;
overflow:hidden;

}

#startbtn{
    background-color:#49c03e; ;
    border-radius: 10%;
    font-family: 'Press Start 2P',cursive;
    font-size: 1.9rem;
    padding: 2px 8px;
    color: white;
    vertical-align: bottom ;
}
div.hh{
    height: 20%;
}
h1{
    height: 20%;
    text-align: center;
    margin: 50px;
    color:#fff;
    font-family: 'Press Start 2P',cursive;
    font-size: 3rem;
    margin-bottom: 40px;
    align-items: center;
    box-sizing: border-box;
}
#circle {
    box-sizing: border-box;
    position: absolute;
    width: 40%;
    height: 40%;
    /* border-radius: 50%; */
    float: none;
    margin: 0;
    position: absolute;   
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
#start{
    position: absolute;
    border-radius: 50%;
    background-color: #fef2bf;
    color: #011f3f;
    width:100PX;
    height: 100PX;
    border-style: solid;
    border-width: 8px;  
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    font-family: 'Press Start 2P',cursive;
    font-size: 1.7rem;
    font-weight: bold;
    border-color: black


}
.color{
    position: relative;
    width :100px !important;
    height : 100px;
    padding: 0;
    border-style: solid;
    border-width:5%;
    margin: 20px;
    overflow: hidden;
    box-sizing: border-box;
    flex: none !important;
 
}
.clrrow{
    
    box-sizing: border-box;
    margin: 0;
    overflow:visible;
    

}
.green{
    border-radius : 20%;
    background-color: green;
    border: solid 10px black; 
   
}
.pink{
    border-radius : 20%;
    background-color: pink;
    border: solid 10px black; 
   
}
.violet{
    border-radius : 20%;
    background-color: violet;
    border: solid 10px black; 
   
}
.red{
    border-radius : 20%;
    background-color: red;
    border: solid 10px black; 
  
}
.orange{
    border-radius : 20%;
    background-color: orange;
    border: solid 10px black; 
  
}
.yellow{
    border-radius : 20%;
    background-color: yellow;
    border: solid 10px black; 
     
}
.blue{
    border-radius : 20%;
    background-color: blue;
  
    border: solid 10px black; 
}
.white{
    border-radius : 20%;
    background-color: white;
    border: solid 10px black; 
}
.black{
    border-radius : 20%;
    background-color: black;
    border: solid 10px black; 
}
.brown{
    border-radius : 20%;
    background-color: brown;
    border: solid 10px black; 
}
.silver{
    border-radius : 20%;
    background-color: silver;
    border: solid 10px black; 
}
.purple{
    border-radius : 20%;
    background-color: purple;
    border: solid 10px black; 
}
.gray{
    border-radius : 20%;
    background-color: gray;
    border: solid 10px black; 
}
.indigo{
    border-radius : 20%;
    background-color: indigo;
    border: solid 10px black; 
}
.violet{
    border-radius : 20%;
    background-color: violet;
    border: solid 10px black; 
}
.color:hover{
    opacity: 0.2;
}


.lost{
    
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
p{
    z-index: 5000;
    margin-top: 400px;
}

